# They are default owners

# Frontend
/apps/web/        @francisluz

# Backend
/apps/core/       @mrgrauel

# Packages
/packages/        @mrgrauel @francisluz @VitoMelchionna

# Everything else (fallback)
*                @mrgrauel @francisluz @VitoMelchionna