# Frontend
/apps/web/        @francisluz

# Backend
/apps/core/       @mrgrauel

# Packages
/packages/        @mrgrauel @francisluz @VitoMelchionna

# Default
*                @mrgrauel @francisluz @VitoMelchionna