# Database
DATABASE_URL="postgresql://abc:abc@cde:5432/sokosumi?schema=public"

# Better AUTH
BETTER_AUTH_EMAIL=no-reply@masumi.network
BETTER_AUTH_SECRET=secret_used_for_better_auth
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Resend API KEY
RESEND_API_KEY=<your-resend-api-key>

# Social Providers
NEXT_PUBLIC_GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>