{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "version": "1.0.0",
    "description": "This is the OpenAPI specification for your project."
  },
  "servers": [
    {
      "url": "https://app.sokosumi.com/api",
      "description": "Production server"
    },
    {
      "url": "https://preprod.sokosumi.com/api",
      "description": "Pre-production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key required in the x-api-key header"
      }
    },
    "schemas": {
      "AgentParams": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          }
        }
      },
      "AgentInputSchemaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "e.g., textarea, file, string, etc."
          },
          "name": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string"
              },
              "placeholder": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "outputFormat": {
                "type": "string"
              }
            }
          },
          "validations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "validation": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "AgentInputSchemaResponse": {
        "type": "object",
        "properties": {
          "input_data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "e.g., textarea, file, string, etc."
                },
                "name": {
                  "type": "string"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "placeholder": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "outputFormat": {
                      "type": "string"
                    }
                  }
                },
                "validations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "validation": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AgentInputSchemaSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "input_data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "description": "e.g., textarea, file, string, etc."
                    },
                    "name": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string"
                        },
                        "placeholder": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "outputFormat": {
                          "type": "string"
                        }
                      }
                    },
                    "validations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validation": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "JobsSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "description": "ISO date"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "ISO date"
                },
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "description": "JobStatus"
                },
                "agentId": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "organizationId": {
                  "type": "string",
                  "nullable": true
                },
                "agentJobId": {
                  "type": "string"
                },
                "agentJobStatus": {
                  "type": "string",
                  "nullable": true
                },
                "onChainStatus": {
                  "type": "string",
                  "nullable": true
                },
                "input": {
                  "type": "string"
                },
                "output": {
                  "type": "string",
                  "nullable": true
                },
                "startedAt": {
                  "type": "string",
                  "description": "ISO date"
                },
                "completedAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "ISO date"
                },
                "resultSubmittedAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "ISO date"
                },
                "isDemo": {
                  "type": "boolean"
                },
                "price": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number"
                    },
                    "includedFee": {
                      "type": "number"
                    }
                  },
                  "nullable": true
                },
                "refund": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number"
                    },
                    "includedFee": {
                      "type": "number"
                    }
                  },
                  "nullable": true
                },
                "jobStatusSettled": {
                  "type": "boolean"
                }
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO date"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO date"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "JobStatus"
          },
          "agentId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "organizationId": {
            "type": "string",
            "nullable": true
          },
          "agentJobId": {
            "type": "string"
          },
          "agentJobStatus": {
            "type": "string",
            "nullable": true
          },
          "onChainStatus": {
            "type": "string",
            "nullable": true
          },
          "input": {
            "type": "string"
          },
          "output": {
            "type": "string",
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "description": "ISO date"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO date"
          },
          "resultSubmittedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO date"
          },
          "isDemo": {
            "type": "boolean"
          },
          "price": {
            "type": "object",
            "properties": {
              "credits": {
                "type": "number"
              },
              "includedFee": {
                "type": "number"
              }
            },
            "nullable": true
          },
          "refund": {
            "type": "object",
            "properties": {
              "credits": {
                "type": "number"
              },
              "includedFee": {
                "type": "number"
              }
            },
            "nullable": true
          },
          "jobStatusSettled": {
            "type": "boolean"
          }
        }
      },
      "JobCredits": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number"
          },
          "includedFee": {
            "type": "number"
          }
        }
      },
      "CreateJobBody": {
        "type": "object",
        "properties": {
          "maxAcceptedCredits": {
            "type": "number",
            "nullable": false
          },
          "inputData": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "number"
                  }
                }
              ]
            },
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "JobSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "description": "ISO date"
              },
              "updatedAt": {
                "type": "string",
                "description": "ISO date"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "description": "JobStatus"
              },
              "agentId": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "organizationId": {
                "type": "string",
                "nullable": true
              },
              "agentJobId": {
                "type": "string"
              },
              "agentJobStatus": {
                "type": "string",
                "nullable": true
              },
              "onChainStatus": {
                "type": "string",
                "nullable": true
              },
              "input": {
                "type": "string"
              },
              "output": {
                "type": "string",
                "nullable": true
              },
              "startedAt": {
                "type": "string",
                "description": "ISO date"
              },
              "completedAt": {
                "type": "string",
                "nullable": true,
                "description": "ISO date"
              },
              "resultSubmittedAt": {
                "type": "string",
                "nullable": true,
                "description": "ISO date"
              },
              "isDemo": {
                "type": "boolean"
              },
              "price": {
                "type": "object",
                "properties": {
                  "credits": {
                    "type": "number"
                  },
                  "includedFee": {
                    "type": "number"
                  }
                },
                "nullable": true
              },
              "refund": {
                "type": "object",
                "properties": {
                  "credits": {
                    "type": "number"
                  },
                  "includedFee": {
                    "type": "number"
                  }
                },
                "nullable": true
              },
              "jobStatusSettled": {
                "type": "boolean"
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "AgentPrice": {
        "type": "object",
        "properties": {
          "credits": {
            "type": "number",
            "description": "Total credits including fee"
          },
          "includedFee": {
            "type": "number",
            "description": "Fee credits included"
          }
        }
      },
      "AgentTag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tag name"
          }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO date string"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO date string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "AgentStatus"
          },
          "isNew": {
            "type": "boolean"
          },
          "isShown": {
            "type": "boolean"
          },
          "price": {
            "type": "object",
            "properties": {
              "credits": {
                "type": "number",
                "description": "Total credits including fee"
              },
              "includedFee": {
                "type": "number",
                "description": "Fee credits included"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Tag name"
                }
              }
            }
          }
        }
      },
      "AgentsSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "description": "ISO date string"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "ISO date string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "description": "AgentStatus"
                },
                "isNew": {
                  "type": "boolean"
                },
                "isShown": {
                  "type": "boolean"
                },
                "price": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number",
                      "description": "Total credits including fee"
                    },
                    "includedFee": {
                      "type": "number",
                      "description": "Fee credits included"
                    }
                  }
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Tag name"
                      }
                    }
                  }
                }
              }
            }
          },
          "timestamp": {
            "type": "string",
            "description": "ISO timestamp"
          }
        }
      },
      "JobParams": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          }
        }
      },
      "JobQueryParams": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UserSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "description": "ISO date string"
              },
              "updatedAt": {
                "type": "string",
                "description": "ISO date string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "termsAccepted": {
                "type": "boolean"
              },
              "marketingOptIn": {
                "type": "boolean"
              },
              "stripeCustomerId": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO date string"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO date string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "termsAccepted": {
            "type": "boolean"
          },
          "marketingOptIn": {
            "type": "boolean"
          },
          "stripeCustomerId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateUserProfileSchema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name",
            "nullable": false
          },
          "marketingOptIn": {
            "type": "boolean",
            "description": "Marketing opt-in status",
            "nullable": false
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid request parameters"
                },
                "code": {
                  "type": "string",
                  "example": "400"
                }
              }
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Authentication required"
                },
                "code": {
                  "type": "string",
                  "example": "401"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Access denied"
                },
                "code": {
                  "type": "string",
                  "example": "403"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Resource not found"
                },
                "code": {
                  "type": "string",
                  "example": "404"
                }
              }
            }
          }
        }
      },
      "409": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Resource already exists"
                },
                "code": {
                  "type": "string",
                  "example": "409"
                }
              }
            }
          }
        }
      },
      "500": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                },
                "code": {
                  "type": "string",
                  "example": "500"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/agents": {
      "get": {
        "operationId": "get-v1-agents",
        "summary": "List agents",
        "description": "Retrieves all available agents with credit pricing",
        "tags": [
          "Agents"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO date string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO date string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "description": "AgentStatus"
                          },
                          "isNew": {
                            "type": "boolean"
                          },
                          "isShown": {
                            "type": "boolean"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "credits": {
                                "type": "number",
                                "description": "Total credits including fee"
                              },
                              "includedFee": {
                                "type": "number",
                                "description": "Fee credits included"
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Tag name"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "ISO timestamp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/agents/{agentId}/input-schema": {
      "get": {
        "operationId": "get-v1-agents-{agentId}-input-schema",
        "summary": "Get agent input schema",
        "description": "Fetches the validated input schema for a specific agent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "123"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "input_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "description": "e.g., textarea, file, string, etc."
                              },
                              "name": {
                                "type": "string"
                              },
                              "data": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "outputFormat": {
                                    "type": "string"
                                  }
                                }
                              },
                              "validations": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "validation": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/agents/{agentId}/jobs": {
      "get": {
        "operationId": "get-v1-agents-{agentId}-jobs",
        "summary": "List jobs for agent",
        "description": "Retrieves all jobs for the given agent belonging to the authenticated user",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "123"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "description": "JobStatus"
                          },
                          "agentId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "organizationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "agentJobId": {
                            "type": "string"
                          },
                          "agentJobStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "onChainStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "input": {
                            "type": "string"
                          },
                          "output": {
                            "type": "string",
                            "nullable": true
                          },
                          "startedAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "completedAt": {
                            "type": "string",
                            "nullable": true,
                            "description": "ISO date"
                          },
                          "resultSubmittedAt": {
                            "type": "string",
                            "nullable": true,
                            "description": "ISO date"
                          },
                          "isDemo": {
                            "type": "boolean"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "credits": {
                                "type": "number"
                              },
                              "includedFee": {
                                "type": "number"
                              }
                            },
                            "nullable": true
                          },
                          "refund": {
                            "type": "object",
                            "properties": {
                              "credits": {
                                "type": "number"
                              },
                              "includedFee": {
                                "type": "number"
                              }
                            },
                            "nullable": true
                          },
                          "jobStatusSettled": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "post": {
        "operationId": "post-v1-agents-{agentId}-jobs",
        "summary": "Create job for agent",
        "description": "Creates a new job for a specific agent with validated input data",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "123"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "maxAcceptedCredits": {
                    "type": "number",
                    "nullable": false
                  },
                  "inputData": {
                    "type": "object",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        }
                      ]
                    },
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "description": "JobStatus"
                        },
                        "agentId": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string",
                          "nullable": true
                        },
                        "agentJobId": {
                          "type": "string"
                        },
                        "agentJobStatus": {
                          "type": "string",
                          "nullable": true
                        },
                        "onChainStatus": {
                          "type": "string",
                          "nullable": true
                        },
                        "input": {
                          "type": "string"
                        },
                        "output": {
                          "type": "string",
                          "nullable": true
                        },
                        "startedAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "completedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO date"
                        },
                        "resultSubmittedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO date"
                        },
                        "isDemo": {
                          "type": "boolean"
                        },
                        "price": {
                          "type": "object",
                          "properties": {
                            "credits": {
                              "type": "number"
                            },
                            "includedFee": {
                              "type": "number"
                            }
                          },
                          "nullable": true
                        },
                        "refund": {
                          "type": "object",
                          "properties": {
                            "credits": {
                              "type": "number"
                            },
                            "includedFee": {
                              "type": "number"
                            }
                          },
                          "nullable": true
                        },
                        "jobStatusSettled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "operationId": "get-v1-jobs",
        "summary": "List jobs",
        "description": "Retrieves all jobs that belong to the authenticated user. Supports optional query parameters for filtering:",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "description": "JobStatus"
                          },
                          "agentId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "organizationId": {
                            "type": "string",
                            "nullable": true
                          },
                          "agentJobId": {
                            "type": "string"
                          },
                          "agentJobStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "onChainStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "input": {
                            "type": "string"
                          },
                          "output": {
                            "type": "string",
                            "nullable": true
                          },
                          "startedAt": {
                            "type": "string",
                            "description": "ISO date"
                          },
                          "completedAt": {
                            "type": "string",
                            "nullable": true,
                            "description": "ISO date"
                          },
                          "resultSubmittedAt": {
                            "type": "string",
                            "nullable": true,
                            "description": "ISO date"
                          },
                          "isDemo": {
                            "type": "boolean"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "credits": {
                                "type": "number"
                              },
                              "includedFee": {
                                "type": "number"
                              }
                            },
                            "nullable": true
                          },
                          "refund": {
                            "type": "object",
                            "properties": {
                              "credits": {
                                "type": "number"
                              },
                              "includedFee": {
                                "type": "number"
                              }
                            },
                            "nullable": true
                          },
                          "jobStatusSettled": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/jobs/{jobId}": {
      "get": {
        "operationId": "get-v1-jobs-{jobId}",
        "summary": "Get job by ID",
        "description": "Retrieves a specific job by ID belonging to the authenticated user",
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "123"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "description": "JobStatus"
                        },
                        "agentId": {
                          "type": "string"
                        },
                        "userId": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string",
                          "nullable": true
                        },
                        "agentJobId": {
                          "type": "string"
                        },
                        "agentJobStatus": {
                          "type": "string",
                          "nullable": true
                        },
                        "onChainStatus": {
                          "type": "string",
                          "nullable": true
                        },
                        "input": {
                          "type": "string"
                        },
                        "output": {
                          "type": "string",
                          "nullable": true
                        },
                        "startedAt": {
                          "type": "string",
                          "description": "ISO date"
                        },
                        "completedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO date"
                        },
                        "resultSubmittedAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "ISO date"
                        },
                        "isDemo": {
                          "type": "boolean"
                        },
                        "price": {
                          "type": "object",
                          "properties": {
                            "credits": {
                              "type": "number"
                            },
                            "includedFee": {
                              "type": "number"
                            }
                          },
                          "nullable": true
                        },
                        "refund": {
                          "type": "object",
                          "properties": {
                            "credits": {
                              "type": "number"
                            },
                            "includedFee": {
                              "type": "number"
                            }
                          },
                          "nullable": true
                        },
                        "jobStatusSettled": {
                          "type": "boolean"
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "operationId": "get-v1-users-me",
        "summary": "Get current user",
        "description": "Retrieves the authenticated user's profile",
        "tags": [
          "Users"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        },
                        "marketingOptIn": {
                          "type": "boolean"
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "put": {
        "operationId": "put-v1-users-me",
        "summary": "Replace current user profile",
        "description": "Replaces the authenticated user's profile with provided data",
        "tags": [
          "Users"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name",
                    "nullable": false
                  },
                  "marketingOptIn": {
                    "type": "boolean",
                    "description": "Marketing opt-in status",
                    "nullable": false
                  }
                }
              }
            }
          },
          "description": "The full profile data to replace the current user profile (Required)."
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        },
                        "marketingOptIn": {
                          "type": "boolean"
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "operationId": "patch-v1-users-me",
        "summary": "Update current user profile",
        "description": "Updates fields of the authenticated user's profile",
        "tags": [
          "Users"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name",
                    "nullable": false
                  },
                  "marketingOptIn": {
                    "type": "boolean",
                    "description": "Marketing opt-in status",
                    "nullable": false
                  }
                }
              }
            }
          },
          "description": "The full profile data to replace the current user profile (Optional)."
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "ISO date string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "termsAccepted": {
                          "type": "boolean"
                        },
                        "marketingOptIn": {
                          "type": "boolean"
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  }
}